.v-button.v-disabled {
	height: 0px;
	width: 0px;
	padding: 0px;
	border: none;
}

.v-button, 
.v-disabled.v-button:focus, 
.v-disabled.v-button:active {
	border: 1px solid #161616;
	background: #161616;
	border-radius: 0px;
	text-shadow: 0 0px;
	padding: 4px;
}

.v-button:active,
.v-ie8 .v-pressed.v-button, 
.v-button-down {
	border: 1px solid #85837F;
	background: #85837F;
}

.v-button:active .v-button-wrap,
.v-ie8 .v-pressed.v-button .v-button-wrap, 
.v-button-down .v-button-wrap {
	border: 1px solid #85837F;
	background: #85837F;
}

.v-button-caption {
	font-weight: normal;
	color: white;
}

.v-button:active .v-button-wrap .v-button-caption,
.v-ie8 .v-pressed.v-button .v-button-wrap, 
.v-button-down .v-button-wrap {
	font-weight: normal;
	color: black; 
}

.v-button-wrap, .v-disabled:active .v-button-wrap {
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	background: none;
}


div.v-button-borderless .v-icon,
div.v-button-borderless.v-pressed .v-icon,
div.v-button-borderless:active .v-icon,
div.v-button-borderless:focus .v-icon,

div.v-button-borderless,
div.v-button-borderless.v-pressed,
div.v-button-borderless:active,
div.v-button-borderless:focus,

div.v-button-borderless .v-button-wrap,
div.v-button-borderless.v-pressed .v-button-wrap,
div.v-button-borderless:active .v-button-wrap,
div.v-button-borderless:focus .v-button-wrap,

div.v-button-borderless .v-button-caption,
div.v-button-borderless:active .v-button-caption,
div.v-button-borderless.v-pressed .v-button-caption,
div.v-button-borderless:focus .v-button-caption,
div.v-button-icon-on-top.v-button-borderless:focus .v-button-caption {
	padding-right: 6px;
	border: 0px none;
	margin: 0px;
	color: black;
	font-weight: normal;
}

.v-button-selected .v-button-caption {
	color: orange;
}

.v-button-devicepanel {
	margin-right: 6px;
	margin-bottom: 6px;
	padding: 0px;
}

.v-button-devicepanel .v-button-caption {
	font-size: 12px;
}

.v-checkbox-report {
	vertical-align: middle;
}

.v-button-transparent {
	border: none;
	background: none;
	border-radius: 0px;
	text-shadow: 0 0px;
	text-alignment: left;
	padding: 0px;
	vertical-align: middle;
}

.v-button-transparent .v-button-caption {
	color: black;
}

.v-button-transparent .v-button-wrap {
	padding: 0px;
	text-align: left;
}

.v-button-transparent:active,
.v-ie8 .v-pressed.v-button, 
.v-button-down {
	border: none;
	background: #161616;
}

.v-button-transparent:active .v-button-wrap,
.v-ie8 .v-pressed.v-button .v-button-wrap, 
.v-button-down .v-button-wrap {
	border: none;
	background: #161616;
	padding: 0px;
	text-align: left;
}

.v-button-heading {
	border: none;
	background: none;
	border-radius: 0px;
	text-shadow: 0 0px;
	text-alignment: left;
	padding: 0px;
	vertical-align: middle;
	font-size: 18px;
}

.v-button-heading .v-button-caption {
	color: black;
}

.v-button-heading .v-button-wrap {
	padding: 6px;
	text-align: left;
}

.v-button-heading:active,
.v-ie8 .v-pressed.v-button, 
.v-button-down {
	border: none;
	background: none;
}

.v-button-heading:active .v-button-wrap,
.v-ie8 .v-pressed.v-button .v-button-wrap, 
.v-button-down .v-button-wrap {
	border: none;
	background: none;
	padding: 6px;
	text-align: left;
}

.v-button-menu {
	border: none;
	background: none;
	border-radius: 0px;
	text-shadow: 0 0px;
	text-alignment: left;
	padding: 0px;
	vertical-align: middle;
	font-size: 18px;
}

.v-button-menu .v-button-caption {
	color: #0D5C91;
}

.v-button-menu .v-button-wrap {
	padding: 0px;
	text-align: left;
}

.v-button-menu:active,
.v-ie8 .v-pressed.v-button, 
.v-button-down {
	border: none;
	background: none;
}

.v-button-menu:active .v-button-wrap,
.v-ie8 .v-pressed.v-button .v-button-wrap, 
.v-button-down .v-button-wrap {
	border: none;
	background: none;
	padding: 0px;
	text-align: left;
}

.v-checkbox-pressure {
	background: #260DCE;
	color: white;
	padding: 6px;
	text-align: center;
}

.v-checkbox-compensated_pressure {
	background: #35B0D8;
	padding: 6px;
	text-align: center;
}

.v-checkbox-treatment_pressure {
	background: #CECECE;
	padding: 6px;
	text-align: center;
}

.v-checkbox-temperature {
	background: #CE200F;
	color: white;
	padding: 6px;
	text-align: center;
}

.v-checkbox-only_valid {
	display: inline;
}

.v-checkbox-holiday {
	background: none;
	text-align: center;
	padding: 6px;
	margin: 6px;
}

.v-checkbox-holiday-checked {
	background: #2AA931;
	text-align: center;
	padding: 6px;
	margin: 6px;
}

.v-checkbox-hour {
	background: none;
}

.v-checkbox-hour-checked {
	background: #2AA931;
}
