.v-ui {
	font-size: 18px;
	font-family: "GNS"
}

.v-widget {
	font-size: 18px;
	font-family: "GNS"
}

.v-caption {
	font-size: 18px;
	font-family: "GNS"
}
	
.v-tooltip {
	background: #E1EFED;
	color: #003a79;
	font-size: 1px;
	font-family: "GNS"
}
