.v-verticallayout-indigo_mainlogin {
	background-image: url('../images/background.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.v-verticallayout-indigo_mainlogin-0-lo {
	background-image: url('../images/background.jpg');
}

.v-verticallayout-indigo_mainlogin-0-med {
	background-image: url('../images/background.jpg');
}

.v-verticallayout-indigo_mainlogin-0-hi {
	background-image: url('../images/background.jpg');
}

.v-verticallayout-indigo_mainlogin-1-lo {
	background-image: url('../images/background.jpg');
}

.v-verticallayout-indigo_mainlogin-1-med {
	background-image: url('../images/background.jpg');
}

.v-verticallayout-indigo_mainlogin-1-hi {
	background-image: url('../images/background.jpg');
}

.v-verticallayout-indigo_mainlogin-2-lo {
	background-image: url('../images/background.jpg');
}

.v-verticallayout-indigo_mainlogin-2-med {
	background-image: url('../images/background.jpg');
}

.v-verticallayout-indigo_mainlogin-2-hi {
	background-image: url('../images/background.jpg');
}

.v-verticallayout-indigo_mainlogin-3-lo {
	background-image: url('../images/background.jpg');
}

.v-verticallayout-indigo_mainlogin-3-med {
	background-image: url('../images/background.jpg');
}

.v-verticallayout-indigo_mainlogin-3-hi {
	background-image: url('../images/background.jpg');
}

.v-verticallayout-indigo_mainlogin-4-lo {
	background-image: url('../images/background.jpg');
}

.v-verticallayout-indigo_mainlogin-4-med {
	background-image: url('../images/background.jpg');
}

.v-verticallayout-indigo_mainlogin-4-hi {
	background-image: url('../images/background.jpg');
}

.v-label-login_header {
	color: white;
	background-color: #2B2926; 

	font-size: 16px;
    /*font-family: "droidsans";*/
    font-weight:bold;

	display: block;
}

.v-horizontallayout-login_header {
	background-color: #2B2926; 

	padding: 8px;

	/*border-top-left-radius: 6px;
	border-top-right-radius: 6px;*/	
}

.v-verticallayout-indigo_loginform {
	/*border-radius: 6px;*/
	border: 1px solid #266f9a;
	background-color: #E6E6E6;
	/*background: -moz-linear-gradient(#d7d8d9, #FFF, #FFF, #FFF);
	background: -o-linear-gradient(#d7d8d9, #FFF, #FFF, #FFF);
	background: -webkit-linear-gradient(#d7d8d9, #FFF, #FFF, #FFF);*/
 }


/***************************************************************************
	Aplicación de trabajo
****************************************************************************/

.v-horizontallayout-enermet_toplayout {
	background-color: #E6E6E6;
	padding: 4px;
}

.v-horizontallayout-logobar {
	background: transparent;
}

.v-horizontallayout-enermet_footer {
	display: block;
	padding: 6px;
	border-top: 1px solid #e3e3e8;
}

.v-verticallayout-enermet_mainapp {
	/*background-color: #FFFFFF;*/
	/*background: -moz-linear-gradient(#d7d8d9, #FFF, #FFF, #FFF);
	background: -o-linear-gradient(#d7d8d9, #FFF, #FFF, #FFF);
	background: -webkit-linear-gradient(#d7d8d9, #FFF, #FFF, #FFF);*/
	
	/*background-image: url('../images/backgroundimg1.jpg');*/
	/*background-repeat: no-repeat;
	background-position: bottom right;*/
	background-size: 100% 100%;
}

.v-panel-content-light {
	border: 0px;
}

.v-verticallayout-normal {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	border: 2px solid #89A54E;
	background-color: rgba(137,165,78,0.5);
	border-radius: 4px;
}

.v-verticallayout-warning {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	background-color: rgba(255,199,0,0.5);
	border: 2px solid #FFC700;
	border-radius: 4px;
}

.v-verticallayout-grave {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	background-color: rgba(219,132,61,0.5);
	border: 2px solid #DB843D;
	border-radius: 4px;
}

.v-verticallayout-critico {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	background-color: rgba(255,91,70,0.5);
	border: 2px solid #FF5B46;
	border-radius: 4px;
}


.v-horizontallayout-toolbar {
	background-color: #E6E6E6;
	/*padding: 4px;*/
}

.v-verticallayout-mainwnd {
	background-color: #E6E6E6;
}

.v-verticallayout-dashboard {
	background-color: #E6E6E6;
}

.v-verticallayout-indigo_widget {
	background-color: #E6E6E6;
}

.v-verticallayout-summary {
	border: 2px solid #2B2926;
	background-color: #33A431;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
    font-weight: bold;
}

.v-verticallayout-alarms {
	border: 2px solid #2B2926;
	background-color: #E9B01F;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
    font-weight: bold;
}

.v-verticallayout-information {
	border: 2px solid #2B2926;
	background-color: #17B5A4;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
    font-weight: bold;
}

.v-horizontallayout-alternated_row_even {
	background-color: #FFFFFF;
	width: 100%;
	height: 48px;
}

.v-horizontallayout-alternated_row_odd {
	background-color: #E6E6E6;
	width: 100%;
	height: 48px;
}

.v-verticallayout-alternated_row_even {
	background-color: #FFFFFF;
}

.v-verticallayout-alternated_row_odd {
	background-color: #E6E6E6;
}

.v-horizontallayout-query_container {
 	padding: 6px;
    background: -webkit-linear-gradient(left, #CBCBCB, #E6E6E6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #CBCBCB, #E6E6E6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #CBCBCB, #E6E6E6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #CBCBCB, #E6E6E6); /* Standard syntax (must be last) */
 }

 .v-horizontallayout-query {
    background: transparent;
 }

.v-verticallayout-cylinders_map {
	background-color: #FFFFFF;
}
 
.v-verticallayout-widget {
	border: 2px solid #CCDDE8;
	background-color: #FFFFFF;
}

 .v-horizontallayout-widget_header {
    background: -webkit-linear-gradient(left, #C8D8E0, #EAF0F3); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #C8D8E0, #EAF0F3); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #C8D8E0, #EAF0F3); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #C8D8E0, #EAF0F3); /* Standard syntax (must be last) */
 }

 .v-horizontallayout-widget_footer {
}

.v-csslayout-widget {
	padding: 6px;
}

.v-formlayout-topcaption .v-formlayout-captioncell{
	vertical-align: top;
}

 .v-label-widget_title {
	border: none;
	text-align: left;
 	font-size: 18px;
 	background: transparent;
}

 .v-label-widget_figure {
	border: none;
	text-align: center;
 	font-size: 48px;
 	background: transparent;
}

 .v-label-widget_unit {
 	border: none;
	text-align: center;
 	font-size: 16px;
 	background: transparent;
}
 