div.v-Notification {
	border: 1px solid transparent;
	border-radius: 10px;
	box-shadow: 0 0 10px #666; 
	max-width: 768px;
	background-image: none;
	color: white;
	font-size: 16px;
} 

div.v-Notification-error {
	background: #D11141;
}

div.v-Notification-error h1,
div.v-Notification-warning h1 {
	background-image: none;
	padding: 0px;
}

div.v-Notification-error .v-Notification-caption,
div.v-Notification-warning .v-Notification-caption {
	padding-left: 0px;
	background: none;
}

div.v-Notification-warning {
	background: #F37735;
}

div.v-Notification-tray {
	background: green;
}

.v-errormessage h2 {
	font-size: 12px;	
	text-shadow: none;
	font-weight: normal;
}


