.v-table-table {
	font-size: 18px;
}

.v-selected .v-table-cell-content {
	background-color: #161616;
	color: white;
}

.v-table-header,
.v-table-header-wrap,
.v-table-header-cell,
.v-table-resizer,
.v-table-sort-indicator,
.v-table-row,
.v-table-row-odd {
	height: 28px;
} 

.v-table-column-selector {
	margin-top: -22px;
} 

.v-table-row, 
.v-table-row-odd {
	background: white;
}

.v-table-cell-content-black {
    color: black;
	font-weight: bold;
}

.v-table-cell-content-blue {
    color: blue;
	font-weight: bold;
}

.v-table-cell-content-red {
    color: red;
	font-weight: bold;
}

.v-table-cell-content-green {
    color: green;
	font-weight: bold;    
}

.v-table-cell-content-yellow {
    color: orange;
	font-weight: bold;
}
