.v-tabsheet-tabitem-selected {
	background-color: #2B2926;
	border: none;
	border-radius: 0px;
}

.v-tabsheet-tabitem-selected .v-caption {
	background: none;
	border-radius: 0px;
}

.v-tabsheet-tabitem .v-captiontext {
	font-size: 18px;
	color: black;
	font-weight: normal;
}

.v-tabsheet-tabitem-selected .v-captiontext {
	font-size: 18px;
	color: white;
	font-weight: normal;
}

.v-tabsheet-tabitemcell .v-tabsheet-tabitemcell-selected {
	border: none;
}

.v-tabsheet-content {
	background-color: #E6E6E6;
}

