.v-window {
	background: #E6E6E6;
	border-radius: 0px;
}

.v-window-header {
	color: white;
	font-weight: bold;
}

.v-window-outerheader {
	background: #2B2926;
	color: white;
	font-size: 18px;
	padding: 4px;
}

.v-window-closebox,
.v-window-closebox:hover {
	background: transparent url(../images/cancel.png) no-repeat;
	width: 16px;
	height: 16px;
	cursor: pointer;
	right: 7px;
	top: 7px;
}

.v-window-restorebox, 
.v-window-maximizebox {
	width: 0px;
	height: 0px;
}

.v-window select {
	font-size: 18px;
}

.v-window-ErrorPopupWindow .v-window-outerheader {
	height: 0px;
	padding: 0px;
}
