<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="es.pryades.smartswitch.dal.ibatis.FileMapper">

	<sql id="es.pryades.smartswitch.dal.ibatis.FileMapper.fields">
		files.id,
    	files.file_name,
    	files.file_date
	</sql>

	<sql id="es.pryades.smartswitch.dal.ibatis.FileMapper.where">
		<where>
			<if test="file_name != null">
				AND file_name = #{file_name}
	        </if>
		</where>
	</sql>

	<sql id="es.pryades.smartswitch.dal.ibatis.FileMapper.orderby">
		<choose>
			<when test="orderby.equals( 'file_name' )">
				file_name
			</when>
			<otherwise>
				files.id
			</otherwise>
		</choose>

		<choose>
			<when test="order.equalsIgnoreCase( 'asc' )">
				asc
			</when>
			<otherwise>
				desc
			</otherwise>
		</choose>
	</sql>

	<select id="getNumberOfRows" parameterType="es.pryades.smartswitch.dto.Query" resultType="long">
		select 
			count(1)	
		
		from 
			files

    	<include refid="es.pryades.smartswitch.dal.ibatis.FileMapper.where" />
	</select>

	<select id="getPage" parameterType="es.pryades.smartswitch.dto.Query" resultType="es.pryades.smartswitch.dto.File">
		select 
    		<include refid="es.pryades.smartswitch.dal.ibatis.FileMapper.fields" />
				
		from
			files
			
   		<include refid="es.pryades.smartswitch.dal.ibatis.FileMapper.where" />
				
		order by 
    		<include refid="es.pryades.smartswitch.dal.ibatis.FileMapper.orderby" />

		LIMIT #{pageSize} OFFSET (#{pageSize} * (#{pageNumber} - 1))
	</select>

	<select id="getRows" parameterType="es.pryades.smartswitch.dto.Query" resultType="es.pryades.smartswitch.dto.File">
		select 
    		<include refid="es.pryades.smartswitch.dal.ibatis.FileMapper.fields" />
				
		from
			files
			
   		<include refid="es.pryades.smartswitch.dal.ibatis.FileMapper.where" />
				
		order by 
    		<include refid="es.pryades.smartswitch.dal.ibatis.FileMapper.orderby" />
	</select>

	<select id="getRow" parameterType="es.pryades.smartswitch.dto.File" resultType="es.pryades.smartswitch.dto.File">
		select
			files.id,
	    	files.file_name,
	    	files.file_date,
			files.file_binary
		
		from
			files

		where files.id = #{id}
	</select>

	<insert id="addRow" parameterType="es.pryades.smartswitch.dto.File">

		<selectKey keyProperty="id" resultType="long" order="BEFORE">
			SELECT nextval('gencfg');
		</selectKey>

		insert into files
		(
			id,
			file_name, 
			file_date, 
			file_binary
		)
		values
		(
			#{id},
			#{file_name}, 
			#{file_date}, 
			#{file_binary}
		)
	</insert>

	<update id="setRow" parameterType="es.pryades.smartswitch.dto.File">
		update files set
			<if test="file_binary != null">
				file_binary=#{file_binary}, 
	        </if>
			file_name=#{file_name}, 
			file_date=#{file_date} 
		where id = #{id}
	</update>

	<update id="delRow" parameterType="es.pryades.smartswitch.dto.File">
		delete from files where id = #{id}
	</update>

</mapper>
