<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="es.pryades.smartswitch.dal.ibatis.InterruptorMapper">

	<resultMap id="mapInterruptor" type="es.pryades.smartswitch.dto.Interruptor">
		<id property="id" column="id"/>
		<result property="list_order" column="list_order"/>
		<result property="name" column="name"/>
		<result property="description" column="description"/>
		<result property="address" column="address"/>
		<result property="power" column="power"/>
		<result property="plan_labor" column="plan_labor"/>
		<result property="plan_free" column="plan_free"/>
		<result property="enabled" column="enabled"/>
		<result property="state" column="state"/>
		<result property="last_signal" column="last_signal"/>
		<result property="reload_plan" column="reload_plan"/>
		<result property="forced_action" column="forced_action"/>
											
		<collection property="holidays" column="id" ofType="mapHoliday" select="selectInterruptorHolidays"> </collection>
	</resultMap>
    
	<resultMap id="mapHoliday" type="es.pryades.smartswitch.dto.Holiday">
		<id property="id" column="id"/>
		<result property="holiday_name" column="holiday_name"/>
		<result property="holiday_type" column="holiday_type"/>
		<result property="holiday_value" column="holiday_value"/>
	</resultMap>
		
	<sql id="es.pryades.smartswitch.dal.ibatis.InterruptorMapper.fields">
		interruptors.id, 
		interruptors.list_order,
		interruptors.name,
		interruptors.description,
		interruptors.address,
		interruptors.power,
		interruptors.plan_labor,
		interruptors.plan_free,
		interruptors.enabled,
		interruptors.state,
		interruptors.last_signal,
		interruptors.reload_plan,
		interruptors.forced_action
	</sql>
	
	<sql id="es.pryades.smartswitch.dal.ibatis.InterruptorMapper.joins">
	</sql>
	
	<sql id="es.pryades.smartswitch.dal.ibatis.InterruptorMapper.where">
		<where>
			<if test="name != null">
				AND interruptors.name = #{name}
			</if>
			<if test="id != null">
				AND interruptors.id = #{id}
			</if>
		</where>
	</sql>
	
	<select id="getNumberOfRows" parameterType="es.pryades.smartswitch.dto.Query" resultType="long">
		select 
			count(*) 
		
		from 
			interruptors 
	</select>

	<select id="getPage" parameterType="es.pryades.smartswitch.dto.Query" resultType="es.pryades.smartswitch.dto.Interruptor">
		select
    		<include refid="es.pryades.smartswitch.dal.ibatis.InterruptorMapper.fields" />
						
		from
			interruptors
			
    	<include refid="es.pryades.smartswitch.dal.ibatis.InterruptorMapper.joins" />
    	<include refid="es.pryades.smartswitch.dal.ibatis.InterruptorMapper.where" />
    	
		order by 
		   	interruptors.list_order

		LIMIT #{pageSize} OFFSET (#{pageSize} * (#{pageNumber} - 1))
	</select>

	<select id="getRows" parameterType="es.pryades.smartswitch.dto.Query" resultType="es.pryades.smartswitch.dto.Interruptor">
		select
    		<include refid="es.pryades.smartswitch.dal.ibatis.InterruptorMapper.fields" />
						
		from
			interruptors
			
    	<include refid="es.pryades.smartswitch.dal.ibatis.InterruptorMapper.joins" />
    	<include refid="es.pryades.smartswitch.dal.ibatis.InterruptorMapper.where" />
    	
		order by 
		   	interruptors.list_order
	</select>

	<select id="getRow" parameterType="es.pryades.smartswitch.dto.Interruptor" resultMap="mapInterruptor">
		select
    		<include refid="es.pryades.smartswitch.dal.ibatis.InterruptorMapper.fields" />
						
		from
			interruptors
			
    	<include refid="es.pryades.smartswitch.dal.ibatis.InterruptorMapper.joins" />
    	<include refid="es.pryades.smartswitch.dal.ibatis.InterruptorMapper.where" />
	</select>

	<insert id="addRow" parameterType="es.pryades.smartswitch.dto.Interruptor">

		<selectKey keyProperty="id" resultType="long" order="BEFORE">
			SELECT nextval('gencfg');
		</selectKey>

		insert into interruptors
		(
			id,
			list_order,
			name,
			description,
			address,
			power,
			plan_labor,
			plan_free,
			enabled,
			last_signal,
			reload_plan,
			forced_action
		)
		values
		(
			#{id},
			#{list_order},
			#{name},
			#{description},
			#{address},
			#{power},
			#{plan_labor},
			#{plan_free},
			#{enabled},
			#{last_signal},
			#{reload_plan},
			#{forced_action}
		)
	</insert>

	<update id="setRow" parameterType="es.pryades.smartswitch.dto.Interruptor">
		update interruptors set
			list_order=#{list_order},
			name=#{name},
			description=#{description},
			address=#{address},
			power=#{power},
			plan_labor=#{plan_labor},
			plan_free=#{plan_free},
			enabled=#{enabled},
			state=#{state},
			last_signal=#{last_signal},
			reload_plan=#{reload_plan},
			forced_action=#{forced_action}
		where id = #{id}
	</update>

	<update id="delRow" parameterType="es.pryades.smartswitch.dto.Interruptor">
		delete from interruptors where id = #{id}
	</update>

	<select id="selectInterruptorHolidays" parameterType="long" resultMap="mapHoliday">
		select 
			holidays.id as id,
			holidays.holiday_name as holiday_name,
			holidays.holiday_type as holiday_type,
			holidays.holiday_value as holiday_value
				
		from holidays
		 		
		inner join facility_holidays
		on facility_holidays.ref_holiday = holidays.id

		inner join facilities
		on facility_holidays.ref_facility = facilities.id
		
		inner join facility_interruptors
		on facility_interruptors.ref_facility = facilities.id
		
		inner join interruptors
		on facility_interruptors.ref_interruptor = interruptors.id
		
		where 
			facility_interruptors.ref_interruptor = #{id}
					
		order by holidays.holiday_type, holidays.holiday_value
	</select>
</mapper>
