<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="es.pryades.smartswitch.dal.ibatis.ProfileMapper">

	<select id="getNumberOfRows" parameterType="es.pryades.smartswitch.dto.Query" resultType="long">
		select count(*) from profiles 
	</select>

	<select id="getPage" parameterType="es.pryades.smartswitch.dto.Query" resultType="es.pryades.smartswitch.dto.Profile">
		select
			*
		
		from
			profiles
		
		order by id

		LIMIT #{pageSize} OFFSET (#{pageSize} * (#{pageNumber} - 1))
	</select>

	<select id="getRows" parameterType="es.pryades.smartswitch.dto.Query" resultType="es.pryades.smartswitch.dto.Profile">
		select
			*
		
		from
			profiles
		
		order by id
	</select>

	<select id="getRow" parameterType="es.pryades.smartswitch.dto.Profile" resultType="es.pryades.smartswitch.dto.Profile">
		select * from profiles where id = #{id}
	</select>

	<insert id="addRow" parameterType="es.pryades.smartswitch.dto.Profile">

		<selectKey keyProperty="id" resultType="long" order="BEFORE">
			SELECT nextval('gencfg');
		</selectKey>

		insert into profiles
		(
			id,
			description
		)
		values
		(
			#{id},
			#{description}
		)
	</insert>

	<update id="setRow" parameterType="es.pryades.smartswitch.dto.Profile">
		update profiles set
			description=#{description}
		where id = #{id}
	</update>

	<update id="delRow" parameterType="es.pryades.smartswitch.dto.Profile">
		delete from profiles where id = #{id}
	</update>

</mapper>
