<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>application</display-name>
  <context-param>
    <param-name>productionMode</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>org.restlet.application</param-name>
    <param-value>es.pryades.smartswitch.services.ServicesServlet</param-value>
  </context-param>
  <servlet>
    <display-name>init</display-name>
    <servlet-name>init</servlet-name>
    <servlet-class>es.pryades.smartswitch.services.InitServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <display-name>services</display-name>
    <servlet-name>services</servlet-name>
    <servlet-class>org.restlet.ext.servlet.ServerServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>services</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>switch-controller</servlet-name>
    <servlet-class>com.vaadin.server.VaadinServlet</servlet-class>
    <init-param>
      <description>Switch Controller UI</description>
      <param-name>UI</param-name>
      <param-value>es.pryades.smartswitch.application.IndigoApplication</param-value>
    </init-param>
    <init-param>
      <description>Switch Controller widgetset</description>
      <param-name>widgetset</param-name>
      <param-value>es.pryades.smartswitch.widgetset.SmartSwitchWidgetset</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>switch-controller</servlet-name>
    <url-pattern>/*</url-pattern>
    <url-pattern>/VAADIN/*</url-pattern>
  </servlet-mapping>
</web-app>